
.container{
    display: flex;
    /* background-color: red; */
    width: 100%;
    /* flex-direction: column; */
}

.sidebar-container{
    /* flex: 1; */
    background-color: var(--bgSoft);
    /* background-color: purple; */
    padding: 20px;
    width: 20%;
}

.content{
    /* flex: 4; */
    padding: 20px;
    width: 80%;
    /* background-color: green; */
}

.wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.side{
    flex: 1;
}